$base-color: #f5f5f5;
$white-bg: #ffffff;
$white: #ffffff;
$black: #000000;
$transparent : transparent;
$red: #ff0000;

$primary-call-action: #5e10b1;
$primary-call-action-hover: #42145f;
$primary-call-action-text: #ffffff;

$normal-text-color: rgb(100, 96, 104);
$btn-icon-color : rgb(108, 117, 125, 0.8);

$body-font-size: 0.875rem;
$body-line-height: 1.6;

$border-color: #d0d7de;
$small-shadow: 0 1px 0 rgba(27, 31, 36, 0.04);

$zero: 0;
$forty: 40px;
$eighty: 80px;
